body{
    background-color: #eeeef0;
    font-family: 'PT Sans', sans-serif;
}

.red{
    color:#eb1a2d;
}

.gray{
    color: #76797b;
}

.blue{
    color:#1d2777;
}

.orange{
    color:#ff713e;
}

.negro{
    color: #000;
}

.hidden-nav{
    visibility: hidden;
}