<div class="row bg-top-bar p-2 hidden-top-bar">
  <div class="col-md-3 hidden">
    <img src="../assets/img/rapipago.png" width="130px" alt="rapipago" />
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-1 margin-right">
    <select
      class="form-select select-margin-rigth"
      aria-label="Disabled select example"
    >
      <option selected>Red 6656</option>
      <option value="1">Opcion 1</option>
      <option value="2">Opcion 2</option>
      <option value="3">Opcion 3</option>
    </select>
    <div class="bell-float-rigth hidden-bell"><i class="far fa-bell"></i></div>
  </div>
  <div class="col-md-2">
    <span class="text-top-bar red victor-margin-left">Victor</span
    ><span class="text-top-bar gray margin-right hidden"> Heredia</span>
    <span class="square hidden">VH</span>
  </div>
</div>

<!-- SIDEBAR -->

<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-gray blue" href="#!"
        >Estado de mi cuenta</a
      >
      <a class="list-group-item list-group-item-action bg-light" href="#!"
        >Retribución</a
      >

      <a
        class="list-group-item list-group-item-action bg-light margin-top-alertas"
        href="#!"
        ><i class="far fa-bell"></i> Alertas</a
      >
      <a class="list-group-item list-group-item-action bg-light" href="#!"
        ><i class="fas fa-power-off"></i> Cerrar Sesión</a
      >
    </div>
  </div>

  <!-- SIDE BAR NAV -->

  <div id="page-content-wrapper">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light border-bottom hidden-nav"
    >
      <button
        id="menu-toggle"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="border:none"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      <div class="col-md-2">
        <span class="text-top-bar red victor-font-size">Victor</span>
      </div>
      <div class="col-md-1 margin-right">
        <select
        class="form-select select-margin-rigth"
        aria-label="Disabled select example"
        >
        <option selected>Red 6656</option>
        <option value="1">Opcion 1</option>
        <option value="2">Opcion 2</option>
        <option value="3">Opcion 3</option>
      </select>
    </div>
    <div class="bell-float-rigth hidden-bell" style="margin-top: -20px; margin-right: 10px;">
      <i class="far fa-bell"></i>
    </div>
    <div class="row hidden-sub-menu">
      <div class="col-6 estado-mobile">Estado de la cuenta</div>
      <div class="col-6 retribucion-mobile"><strong>Retribución</strong></div>
    </div>
    </nav>

    <div class="row">
      <div class="col-md-12 blue retribucion hidden"><strong>Retribución</strong></div>
    </div>




    <div class="row mt-4 padding-time-line">
      <div class="col-2">
        <div class="col-md-12">
          <div>
            <img
              src="../assets/img/importe_a_facturar.png"
              alt="importe a facturar"
            />
          </div>
          <div class="importe col-md-12">
            <div class="col-md-6 dashed"></div>
            <div class="col-md-6"></div>
          </div>
          <div>
            <img src="../assets/img/factura.png" alt="importe a facturar" />
          </div>
          <div class="factura col-md-12">
            <div class="col-md-6 dashed"></div>
            <div class="col-md-6"></div>
          </div>
          <div>
            <img
              src="../assets/img/orden_de_pago.png"
              alt="importe a facturar"
            />
          </div>
        </div>
      </div>

      <div class="col-1">
        <div class="col-md-12 padding-cards">
          <div class="card card-width">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted"><strong>Importe a Facturar</strong></h6>
              <hr />
              <p class="card-text blue"><strong>90.128,23</strong></p>
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <div class="card card-width">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted"><strong>Factura A</strong></h6>
                <hr />
                <span class="card-text gray factura" style="border:none">003-293435432 </span><br />
                <span class="card-text gray factura" style="border:none"
                  >Recibida por Gire 04/01 </span
                ><br />
                <span class="card-text orange factura" style="border:none"
                  >Debe volver a enviar su factura por, breve explicación del
                  problema</span
                >
              </div>
            </div>
            <div class="col-md-12 mt-2">
              <div class="card card-width bg-gray">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 negro"><strong>Orden de Pago</strong></h6>
                  <hr />
                  <p class="card-text gray orden_de_pago">
                    Esperando la recepción y el procesamiento de la factura
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
