.bg-top-bar{
    background-color: white;
    height: 8vh;
}

select{
    background-color:#eb1a2d;
    width: 90px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    border-color:#eb1a2d;
    height: 30px;
}

.text-top-bar{
    font-size: 12px;
    font-weight: bold;
}

.square{
    background-color: #eeeef0;
    border: 1px solid #cacacb;
    border-radius: 3px;
    font-size: 12px;
}

.margin-right{
  margin-right: 10px;
}

.hidden-bell{
  visibility: hidden;
}

.card-width{
  width: 30rem;
}

.padding-time-line{
  padding-left: 30px;
}

.hidden-sub-menu{
  visibility: hidden;
}

.padding-cards{
  position: absolute;
  left: 340px;
}

/* RESPONSIVE SIDEBAR */

#wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  /* SIDEBAR CONTENT */
  
  .bg-gray{
    background-color: #eeeef0;
  }
  
  .margin-top-alertas{
    margin-top: 60vh;
  }
  
  /* CONTENT */
  
  .retribucion{
    margin-left: 40px;
    margin-top: -50px;
    height: 1vh;
  }
  
  .factura{
    font-size: 12px;
  }
  
  .bg-gray{
    background-color: #e1e1e1;
  }
  
  .importe{
    height: 15vh;
  }
  
  .dashed{
    border-right: 1px dashed #7f8183; 
    height:15vh;
    width: 14px;
  }
  
  .factura{
    border-right: 1px dashed #7f8183; 
    height:24vh;
    width: 14px;
  }
  
  .orden_de_pago{
    font-size: 12px;;
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 768px) {
    
    .hidden{
      visibility: hidden;
    }
    .bell-float-rigth{
      float:right;
      display: inline;
      width: 1rem;
      visibility: visible;
      margin-left: 0px;
      height: 0px;
    }
    .select-margin-rigth{
      float:right;
      display: inline;
      width: 7rem;
    }
    .victor-margin-left{
      float:left;
      display: inline;
      width: 10rem;
      margin-top: -20px;
      font-size: 15px;
    }
    .bg-top-bar{
      background-color: white;
      height: 14vh;
  }
    .card-width{
      width: 16rem;
    }
    .navbar-light .navbar-toggler {
      color: rgba(0,0,0,.55);
      border-color: none;  
  }
    .padding-time-line{
      padding-left: 15px;
  }
    .padding-cards{
      padding-left: -80px;
    }

    .hidden-nav{
      visibility: visible;
    }
    .hidden-top-bar{

      visibility: hidden;
      height: 0px;
      margin-top: -20px;

    }

    #menu-toggle{
      margin-left: 10px;;
    }

    .victor-font-size{
      font-size: 14px;
    }
    .hidden-sub-menu{
      visibility: visible;
    }
    .estado-mobile{
      width: 160px;
      margin-left: 40px;
      margin-top: 20px;
    }
    .retribucion-mobile{
      width: 160px;
      margin-top: 20px;
      border-bottom:1px solid #1d2777;
      height: 40px;
      color:#1d2777;
    }

    nav {
      visibility: visible;
      height: 109px;
        -webkit-box-shadow: 0 8px 6px -6px #bebebe;
           -moz-box-shadow: 0 8px 6px -6px #bebebe;
                box-shadow: 0 8px 6px -6px #bebebe;
      }

      .padding-cards{
        position: absolute;
        left: 80rem;
      }

  }
  
 
  /* RESPONSIVE */

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }